In [5]:
#Reading files
import pandas as pd
import numpy as np


data=pd.read_csv('cars.csv')
print(data)

                           Car   MPG  Cylinders  Displacement  Horsepower  \
0    Chevrolet Chevelle Malibu  18.0        8.0         307.0       130.0
1            Buick Skylark 320  15.0        8.0         350.0       165.0
2           Plymouth Satellite  18.0        8.0         318.0       150.0
3                AMC Rebel SST  16.0        8.0         304.0       150.0
4                  Ford Torino   NaN        NaN         302.0       140.0
..                         ...   ...        ...           ...         ...
268            Ford Mustang GL  27.0        4.0         140.0        86.0
269          Volkswagen Pickup  44.0        4.0          97.0        52.0
270              Dodge Rampage  32.0        4.0         135.0        84.0
271                Ford Ranger  28.0        4.0         120.0        79.0
272                 Chevy S-10  31.0        4.0         119.0        82.0

     Weight  Acceleration  Model  Origin
0    3504.0          12.0   70.0      US
1    3693.0          11.5   70.0      US
2    3436.0          11.0   70.0      US
3    3433.0          12.0   70.0      US
4       NaN           NaN    NaN      US
..      ...           ...    ...     ...
268  2790.0          15.6   82.0      US
269  2130.0          24.6   82.0  Europe
270  2295.0          11.6   82.0      US
271  2625.0          18.6   82.0      US
272  2720.0          19.4   82.0      US

[273 rows x 9 columns]

In [8]:
#reading 15 data

print(data[0:15])

                                 Car   MPG  Cylinders  Displacement  \
0          Chevrolet Chevelle Malibu  18.0        8.0         307.0
1                  Buick Skylark 320  15.0        8.0         350.0
2                 Plymouth Satellite  18.0        8.0         318.0
3                      AMC Rebel SST  16.0        8.0         304.0
4                        Ford Torino   NaN        NaN         302.0
5                       Ford Galaxie   NaN        NaN         429.0
6                   Chevrolet Impala   NaN        NaN         454.0
7                  Plymouth Fury iii   NaN        NaN         440.0
8                   Pontiac Catalina   NaN        NaN         455.0
9                 AMC Ambassador DPL  15.0        8.0         390.0
10              Citroen DS-21 Pallas   0.0        4.0         133.0
11  Chevrolet Chevelle Concours (sw)   0.0        8.0         350.0
12                  Ford Torino (sw)   0.0        8.0         351.0
13           Plymouth Satellite (sw)   NaN        NaN           NaN
14                AMC Rebel SST (sw)   0.0        8.0         360.0

    Horsepower  Weight  Acceleration  Model  Origin
0        130.0  3504.0          12.0   70.0      US
1        165.0  3693.0          11.5   70.0      US
2        150.0  3436.0          11.0   70.0      US
3        150.0  3433.0          12.0   70.0      US
4        140.0     NaN           NaN    NaN      US
5        198.0     NaN           NaN    NaN      US
6        220.0     NaN           NaN    NaN      US
7        215.0     NaN           NaN    NaN      US
8        225.0     NaN           NaN    NaN      US
9        190.0  3850.0           8.5   70.0      US
10       115.0  3090.0          17.5   70.0  Europe
11       165.0  4142.0          11.5   70.0      US
12       153.0  4034.0          11.0   70.0      US
13         NaN  4166.0          10.5    NaN      US
14       175.0  3850.0          11.0   70.0      US

In [9]:
#using head function reading first five data

data.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,US
4,Ford Torino,NaN,NaN,302.0,140.0,NaN,NaN,NaN,US

In [10]:
#using tail function reading last five data

data.tail()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
268,Ford Mustang GL,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,US
269,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,Europe
270,Dodge Rampage,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,US
271,Ford Ranger,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,US
272,Chevy S-10,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,US

In [12]:
#Reading Specific Columns and Rows

print (data.loc[[1,3,5,10,100,200],['Car','Origin']])

                          Car  Origin
1           Buick Skylark 320      US
3               AMC Rebel SST      US
5                Ford Galaxie      US
10       Citroen DS-21 Pallas  Europe
100  Plymouth Fury Gran Sedan      US
200            Dodge Diplomat      US

In [13]:
#to get information about dataset

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           273 non-null    object
 1   MPG           254 non-null    float64
 2   Cylinders     253 non-null    float64
 3   Displacement  257 non-null    float64
 4   Horsepower    254 non-null    float64
 5   Weight        249 non-null    float64
 6   Acceleration  252 non-null    float64
 7   Model         253 non-null    float64
 8   Origin        271 non-null    object
dtypes: float64(7), object(2)
memory usage: 17.1+ KB

In [14]:
#size of dataset

data.shape

(273, 9)

In [15]:
#finding missing data

data.isnull()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,True,True,False,False,True,True,True,False
...,...,...,...,...,...,...,...,...,...
268,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False
270,False,False,False,False,False,False,False,False,False
271,False,False,False,False,False,False,False,False,False
272,False,False,False,False,False,False,False,False,False

In [18]:
data.isna().any()

Car             False
MPG              True
Cylinders        True
Displacement     True
Horsepower       True
Weight           True
Acceleration     True
Model            True
Origin           True
dtype: bool

In [19]:
data.isna().sum()

Car              0
MPG             19
Cylinders       20
Displacement    16
Horsepower      19
Weight          24
Acceleration    21
Model           20
Origin           2
dtype: int64

In [22]:
# select numerical columns
data_numeric = data.select_dtypes(include=[np.number])
numeric_cols = data_numeric.columns.values
print("Numeric data")
print(data_numeric)


# select non-numeric columns
data_non_numeric = data.select_dtypes(exclude=[np.number])
non_numeric_cols = data_non_numeric.columns.values
print("non numeric data")
print(data_non_numeric)

Numeric data
      MPG  Cylinders  Displacement  Horsepower  Weight  Acceleration  Model
0    18.0        8.0         307.0       130.0  3504.0          12.0   70.0
1    15.0        8.0         350.0       165.0  3693.0          11.5   70.0
2    18.0        8.0         318.0       150.0  3436.0          11.0   70.0
3    16.0        8.0         304.0       150.0  3433.0          12.0   70.0
4     NaN        NaN         302.0       140.0     NaN           NaN    NaN
..    ...        ...           ...         ...     ...           ...    ...
268  27.0        4.0         140.0        86.0  2790.0          15.6   82.0
269  44.0        4.0          97.0        52.0  2130.0          24.6   82.0
270  32.0        4.0         135.0        84.0  2295.0          11.6   82.0
271  28.0        4.0         120.0        79.0  2625.0          18.6   82.0
272  31.0        4.0         119.0        82.0  2720.0          19.4   82.0

[273 rows x 7 columns]
non numeric data
                           Car  Origin
0    Chevrolet Chevelle Malibu      US
1            Buick Skylark 320      US
2           Plymouth Satellite      US
3                AMC Rebel SST      US
4                  Ford Torino      US
..                         ...     ...
268            Ford Mustang GL      US
269          Volkswagen Pickup  Europe
270              Dodge Rampage      US
271                Ford Ranger      US
272                 Chevy S-10      US

[273 rows x 2 columns]

In [7]:
import pandas as pd
import numpy as np
data1=pd.read_csv('cars.csv')

col_Drop = ['MPG']
data1.drop(col_Drop, axis=1, inplace=True)

print(data1)

                           Car  Cylinders  Displacement  Horsepower  Weight  \
0    Chevrolet Chevelle Malibu        8.0         307.0       130.0  3504.0
1            Buick Skylark 320        8.0         350.0       165.0  3693.0
2           Plymouth Satellite        8.0         318.0       150.0  3436.0
3                AMC Rebel SST        8.0         304.0       150.0  3433.0
4                  Ford Torino        NaN         302.0       140.0     NaN
..                         ...        ...           ...         ...     ...
268            Ford Mustang GL        4.0         140.0        86.0  2790.0
269          Volkswagen Pickup        4.0          97.0        52.0  2130.0
270              Dodge Rampage        4.0         135.0        84.0  2295.0
271                Ford Ranger        4.0         120.0        79.0  2625.0
272                 Chevy S-10        4.0         119.0        82.0  2720.0

     Acceleration  Model  Origin
0            12.0   70.0      US
1            11.5   70.0      US
2            11.0   70.0      US
3            12.0   70.0      US
4             NaN    NaN      US
..            ...    ...     ...
268          15.6   82.0      US
269          24.6   82.0  Europe
270          11.6   82.0      US
271          18.6   82.0      US
272          19.4   82.0      US

[273 rows x 8 columns]

In [8]:
#replace missing value by 0 in dataset

data1.fillna(value=0, method=None, axis=None, inplace=False, limit=None, downcast=None)

,Car,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,8.0,307.0,130.0,3504.0,12.0,70.0,US
1,Buick Skylark 320,8.0,350.0,165.0,3693.0,11.5,70.0,US
2,Plymouth Satellite,8.0,318.0,150.0,3436.0,11.0,70.0,US
3,AMC Rebel SST,8.0,304.0,150.0,3433.0,12.0,70.0,US
4,Ford Torino,0.0,302.0,140.0,0.0,0.0,0.0,US
...,...,...,...,...,...,...,...,...
268,Ford Mustang GL,4.0,140.0,86.0,2790.0,15.6,82.0,US
269,Volkswagen Pickup,4.0,97.0,52.0,2130.0,24.6,82.0,Europe
270,Dodge Rampage,4.0,135.0,84.0,2295.0,11.6,82.0,US
271,Ford Ranger,4.0,120.0,79.0,2625.0,18.6,82.0,US
272,Chevy S-10,4.0,119.0,82.0,2720.0,19.4,82.0,US

In [4]:
# replacing missing value by mean value

Weight_mean_value = round(data1['Weight'].mean(), 2)
data1['Weight'].fillna(Weight_mean_value, inplace=True)

print("Relpacing By Mean Value")
print(data1)

# replacing missing value by Median value

Weight_median_value = round(data1['Weight'].median(), 2)
data1['Weight'].fillna(Weight_median_value, inplace=True)

print("Relpacing By Median Value")
print(data1)

# replacing missing value by Mode value

Weight_mode_value = round(data1['Weight'].mode(), 2)
data1['Weight'].fillna(Weight_mode_value, inplace=True)

print("Relpacing By Mode Value")
print(data1)

NameError: name 'data1' is not defined

In [54]:
import pandas as pd
import numpy as np
# imputing with SimpleImputor from the sklearn library
from sklearn.impute import SimpleImputer

# define the imputer
imr = SimpleImputer(missing_values=np.nan, strategy='mean') # or median
data[['Cylinders','Displacement']] = imr.fit_transform(data[['Cylinders','Displacement']])
print(data[0:20])

                                 Car    MPG  Cylinders  Displacement  \
0          Chevrolet Chevelle Malibu  18.00       8.00        307.00
1                  Buick Skylark 320  15.00       8.00        350.00
2                 Plymouth Satellite  18.00       8.00        318.00
3                      AMC Rebel SST  16.00       8.00        304.00
4                        Ford Torino  22.83       5.46        302.00
5                       Ford Galaxie  22.83       5.46        429.00
6                   Chevrolet Impala  22.83       5.46        454.00
7                  Plymouth Fury iii  22.83       5.46        440.00
8                   Pontiac Catalina  22.83       5.46        455.00
9                 AMC Ambassador DPL  15.00       8.00        390.00
10              Citroen DS-21 Pallas   0.00       4.00        133.00
11  Chevrolet Chevelle Concours (sw)   0.00       8.00        350.00
12                  Ford Torino (sw)   0.00       8.00        351.00
13           Plymouth Satellite (sw)  22.83       5.46        198.45
14                AMC Rebel SST (sw)   0.00       8.00        360.00
15               Dodge Challenger SE  15.00       8.00        383.00
16                Plymouth 'Cuda 340  22.83       5.46        198.45
17             Ford Mustang Boss 302  22.83       5.46        198.45
18             Chevrolet Monte Carlo  15.00       5.46        198.45
19           Buick Estate Wagon (sw)  14.00       8.00        455.00

    Horsepower   Weight  Acceleration  Model  Origin
0       130.00  3504.00         12.00  70.00      US
1       165.00  3693.00         11.50  70.00      US
2       150.00  3436.00         11.00  70.00      US
3       150.00  3433.00         12.00  70.00      US
4       140.00  2981.85         15.37  74.85      US
5       198.00  2981.85         15.37  74.85      US
6       220.00  2981.85         15.37  74.85      US
7       215.00  2981.85         15.37  74.85      US
8       225.00  2981.85         15.37  74.85      US
9       190.00  3850.00          8.50  70.00      US
10      115.00  3090.00         17.50  70.00  Europe
11      165.00  4142.00         11.50  70.00      US
12      153.00  4034.00         11.00  70.00      US
13      106.16  4166.00         10.50  74.85      US
14      175.00  3850.00         11.00  70.00      US
15      170.00  3563.00         10.00  70.00      US
16      160.00  3609.00         15.37  70.00      US
17      140.00  3353.00         15.37  70.00      US
18      150.00  3761.00         15.37  70.00      US
19      225.00  3086.00         10.00  70.00      US