In [29]:
import pandas as pd
import numpy as np

data=pd.read_csv('cars.csv') 
print(data)

                           Car   MPG  Cylinders  Displacement  Horsepower  \
0    Chevrolet Chevelle Malibu  18.0        8.0         307.0       130.0
1            Buick Skylark 320  15.0        8.0         350.0       165.0
2           Plymouth Satellite  18.0        8.0         318.0       150.0
3                AMC Rebel SST  16.0        8.0         304.0       150.0
4                  Ford Torino   NaN        NaN         302.0       140.0
..                         ...   ...        ...           ...         ...
268            Ford Mustang GL  27.0        4.0         140.0        86.0
269          Volkswagen Pickup  44.0        4.0          97.0        52.0
270              Dodge Rampage  32.0        4.0         135.0        84.0
271                Ford Ranger  28.0        4.0         120.0        79.0
272                 Chevy S-10  31.0        4.0         119.0        82.0

     Weight  Acceleration  Model  Origin
0    3504.0          12.0   70.0      US
1    3693.0          11.5   70.0      US
2    3436.0          11.0   70.0      US
3    3433.0          12.0   70.0      US
4       NaN           NaN    NaN      US
..      ...           ...    ...     ...
268  2790.0          15.6   82.0      US
269  2130.0          24.6   82.0  Europe
270  2295.0          11.6   82.0      US
271  2625.0          18.6   82.0      US
272  2720.0          19.4   82.0      US

[273 rows x 9 columns]

In [4]:
print(data[0:10])

                         Car   MPG  Cylinders  Displacement  Horsepower  \
0  Chevrolet Chevelle Malibu  18.0        8.0         307.0       130.0
1          Buick Skylark 320  15.0        8.0         350.0       165.0
2         Plymouth Satellite  18.0        8.0         318.0       150.0
3              AMC Rebel SST  16.0        8.0         304.0       150.0
4                Ford Torino   NaN        NaN         302.0       140.0
5               Ford Galaxie   NaN        NaN         429.0       198.0
6           Chevrolet Impala   NaN        NaN         454.0       220.0
7          Plymouth Fury iii   NaN        NaN         440.0       215.0
8           Pontiac Catalina   NaN        NaN         455.0       225.0
9         AMC Ambassador DPL  15.0        8.0         390.0       190.0

   Weight  Acceleration  Model Origin
0  3504.0          12.0   70.0     US
1  3693.0          11.5   70.0     US
2  3436.0          11.0   70.0     US
3  3433.0          12.0   70.0     US
4     NaN           NaN    NaN     US
5     NaN           NaN    NaN     US
6     NaN           NaN    NaN     US
7     NaN           NaN    NaN     US
8     NaN           NaN    NaN     US
9  3850.0           8.5   70.0     US

In [15]:
print(data.loc[1:15,['Car','Origin']])

                                 Car  Origin
1                  Buick Skylark 320      US
2                 Plymouth Satellite      US
3                      AMC Rebel SST      US
4                        Ford Torino      US
5                       Ford Galaxie      US
6                   Chevrolet Impala      US
7                  Plymouth Fury iii      US
8                   Pontiac Catalina      US
9                 AMC Ambassador DPL      US
10              Citroen DS-21 Pallas  Europe
11  Chevrolet Chevelle Concours (sw)      US
12                  Ford Torino (sw)      US
13           Plymouth Satellite (sw)      US
14                AMC Rebel SST (sw)      US
15               Dodge Challenger SE      US

In [20]:
print("First Five Data")
data.head()

First Five Data

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,US
4,Ford Torino,NaN,NaN,302.0,140.0,NaN,NaN,NaN,US

In [21]:
print("Last Five Data")
data.tail()

Last Five Data

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
268,Ford Mustang GL,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,US
269,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,Europe
270,Dodge Rampage,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,US
271,Ford Ranger,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,US
272,Chevy S-10,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,US

In [22]:
data.shape

(273, 9)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           273 non-null    object
 1   MPG           254 non-null    float64
 2   Cylinders     253 non-null    float64
 3   Displacement  257 non-null    float64
 4   Horsepower    254 non-null    float64
 5   Weight        249 non-null    float64
 6   Acceleration  252 non-null    float64
 7   Model         253 non-null    float64
 8   Origin        271 non-null    object
dtypes: float64(7), object(2)
memory usage: 17.1+ KB

In [25]:
data.isnull().any()

Car             False
MPG              True
Cylinders        True
Displacement     True
Horsepower       True
Weight           True
Acceleration     True
Model            True
Origin           True
dtype: bool

In [27]:
data.isna()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,True,True,False,False,True,True,True,False
...,...,...,...,...,...,...,...,...,...
268,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False
270,False,False,False,False,False,False,False,False,False
271,False,False,False,False,False,False,False,False,False
272,False,False,False,False,False,False,False,False,False

In [33]:
data.isna().sum()

Car              0
MPG             19
Cylinders       20
Displacement    16
Horsepower      19
Weight          24
Acceleration    21
Model           20
Origin           2
dtype: int64

In [37]:
data1=pd.read_csv('cars.csv')
col_Drop = ['MPG']
data1.drop(col_Drop,axis=1,inplace=True)
print(data1)

                           Car  Cylinders  Displacement  Horsepower  Weight  \
0    Chevrolet Chevelle Malibu        8.0         307.0       130.0  3504.0
1            Buick Skylark 320        8.0         350.0       165.0  3693.0
2           Plymouth Satellite        8.0         318.0       150.0  3436.0
3                AMC Rebel SST        8.0         304.0       150.0  3433.0
4                  Ford Torino        NaN         302.0       140.0     NaN
..                         ...        ...           ...         ...     ...
268            Ford Mustang GL        4.0         140.0        86.0  2790.0
269          Volkswagen Pickup        4.0          97.0        52.0  2130.0
270              Dodge Rampage        4.0         135.0        84.0  2295.0
271                Ford Ranger        4.0         120.0        79.0  2625.0
272                 Chevy S-10        4.0         119.0        82.0  2720.0

     Acceleration  Model  Origin
0            12.0   70.0      US
1            11.5   70.0      US
2            11.0   70.0      US
3            12.0   70.0      US
4             NaN    NaN      US
..            ...    ...     ...
268          15.6   82.0      US
269          24.6   82.0  Europe
270          11.6   82.0      US
271          18.6   82.0      US
272          19.4   82.0      US

[273 rows x 8 columns]

In [38]:
data.fillna(value=0,method=None,axis=None,inplace=False,limit=None,downcast=None)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,US
4,Ford Torino,0.0,0.0,302.0,140.0,0.0,0.0,0.0,US
...,...,...,...,...,...,...,...,...,...
268,Ford Mustang GL,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,US
269,Volkswagen Pickup,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,Europe
270,Dodge Rampage,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,US
271,Ford Ranger,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,US
272,Chevy S-10,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,US

In [53]:
mean_value=round(data['Cylinders'].mean(),2)
print("Replace By Mean Value")
data['Cylinders'].fillna(mean_value,inplace=True)
print(data)


median_value=round(data['Cylinders'].median(),2)
print("Replace By Median Value")
data['Cylinders'].fillna(median_value,inplace=True)
print(data)

Replace By Mean Value
                           Car   MPG  Cylinders  Displacement  Horsepower  \
0    Chevrolet Chevelle Malibu  18.0       8.00         307.0       130.0
1            Buick Skylark 320  15.0       8.00         350.0       165.0
2           Plymouth Satellite  18.0       8.00         318.0       150.0
3                AMC Rebel SST  16.0       8.00         304.0       150.0
4                  Ford Torino   NaN       5.46         302.0       140.0
..                         ...   ...        ...           ...         ...
268            Ford Mustang GL  27.0       4.00         140.0        86.0
269          Volkswagen Pickup  44.0       4.00          97.0        52.0
270              Dodge Rampage  32.0       4.00         135.0        84.0
271                Ford Ranger  28.0       4.00         120.0        79.0
272                 Chevy S-10  31.0       4.00         119.0        82.0

      Weight  Acceleration  Model  Origin
0    3504.00          12.0   70.0      US
1    3693.00          11.5   70.0      US
2    3436.00          11.0   70.0      US
3    3433.00          12.0   70.0      US
4    2981.85           NaN    NaN      US
..       ...           ...    ...     ...
268  2790.00          15.6   82.0      US
269  2130.00          24.6   82.0  Europe
270  2295.00          11.6   82.0      US
271  2625.00          18.6   82.0      US
272  2720.00          19.4   82.0      US

[273 rows x 9 columns]
Replace By Median Value
                           Car   MPG  Cylinders  Displacement  Horsepower  \
0    Chevrolet Chevelle Malibu  18.0       8.00         307.0       130.0
1            Buick Skylark 320  15.0       8.00         350.0       165.0
2           Plymouth Satellite  18.0       8.00         318.0       150.0
3                AMC Rebel SST  16.0       8.00         304.0       150.0
4                  Ford Torino   NaN       5.46         302.0       140.0
..                         ...   ...        ...           ...         ...
268            Ford Mustang GL  27.0       4.00         140.0        86.0
269          Volkswagen Pickup  44.0       4.00          97.0        52.0
270              Dodge Rampage  32.0       4.00         135.0        84.0
271                Ford Ranger  28.0       4.00         120.0        79.0
272                 Chevy S-10  31.0       4.00         119.0        82.0

      Weight  Acceleration  Model  Origin
0    3504.00          12.0   70.0      US
1    3693.00          11.5   70.0      US
2    3436.00          11.0   70.0      US
3    3433.00          12.0   70.0      US
4    2981.85           NaN    NaN      US
..       ...           ...    ...     ...
268  2790.00          15.6   82.0      US
269  2130.00          24.6   82.0  Europe
270  2295.00          11.6   82.0      US
271  2625.00          18.6   82.0      US
272  2720.00          19.4   82.0      US

[273 rows x 9 columns]

In [59]:
data1.bfill(inplace=True)
print(data1)

                           Car  Cylinders  Displacement  Horsepower  Weight  \
0    Chevrolet Chevelle Malibu        8.0         307.0       130.0  3504.0
1            Buick Skylark 320        8.0         350.0       165.0  3693.0
2           Plymouth Satellite        8.0         318.0       150.0  3436.0
3                AMC Rebel SST        8.0         304.0       150.0  3433.0
4                  Ford Torino        8.0         302.0       140.0  3850.0
..                         ...        ...           ...         ...     ...
268            Ford Mustang GL        4.0         140.0        86.0  2790.0
269          Volkswagen Pickup        4.0          97.0        52.0  2130.0
270              Dodge Rampage        4.0         135.0        84.0  2295.0
271                Ford Ranger        4.0         120.0        79.0  2625.0
272                 Chevy S-10        4.0         119.0        82.0  2720.0

     Acceleration  Model  Origin
0            12.0   70.0      US
1            11.5   70.0      US
2            11.0   70.0      US
3            12.0   70.0      US
4             8.5   70.0      US
..            ...    ...     ...
268          15.6   82.0      US
269          24.6   82.0  Europe
270          11.6   82.0      US
271          18.6   82.0      US
272          19.4   82.0      US

[273 rows x 8 columns]

In [60]:
data1.ffill(inplace=True)
print(data1)

                           Car  Cylinders  Displacement  Horsepower  Weight  \
0    Chevrolet Chevelle Malibu        8.0         307.0       130.0  3504.0
1            Buick Skylark 320        8.0         350.0       165.0  3693.0
2           Plymouth Satellite        8.0         318.0       150.0  3436.0
3                AMC Rebel SST        8.0         304.0       150.0  3433.0
4                  Ford Torino        8.0         302.0       140.0  3850.0
..                         ...        ...           ...         ...     ...
268            Ford Mustang GL        4.0         140.0        86.0  2790.0
269          Volkswagen Pickup        4.0          97.0        52.0  2130.0
270              Dodge Rampage        4.0         135.0        84.0  2295.0
271                Ford Ranger        4.0         120.0        79.0  2625.0
272                 Chevy S-10        4.0         119.0        82.0  2720.0

     Acceleration  Model  Origin
0            12.0   70.0      US
1            11.5   70.0      US
2            11.0   70.0      US
3            12.0   70.0      US
4             8.5   70.0      US
..            ...    ...     ...
268          15.6   82.0      US
269          24.6   82.0  Europe
270          11.6   82.0      US
271          18.6   82.0      US
272          19.4   82.0      US

[273 rows x 8 columns]